.activity_wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-self: center;
}
.activity_img_wrap img {
    width: 30vw;
}
.activity_explanation {
    padding: .4rem;
}
@media screen and (max-width: 580px) {
    .activity_wrap {
        display: block;
    }
    .activity_img_wrap img {
        width: 80vw;
        margin: 0 auto;
        display: block;
    }
  }