#Schedule {
    border-left: 4px solid #253f72;
    position: relative;
}
#Schedule th {
    padding: .5rem;
    padding-bottom: 1rem;
    position: relative;
}
#Schedule th::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -10px;
    display: block;
    width: 13px;
    height: 13px;
    background-color: #253f72;
    transform: rotate(50deg);
}

#Schedule:last-child::after {
    content: "";
    position: absolute;
    left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17.3px 10px 0 10px;
    border-color: #253f72 transparent transparent transparent;
}