p {
    margin: 0 1.2rem;
}

header {
    background-image: url("../img/festival_header.JPG");
}
#header_title span {
    color: rgb(192, 192, 192);
    font-size:40px;
}
.header_background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 60vh;
    top: 0;
    left: 0;
}
@media screen and (max-width: 750px) {
    header {
        height: 30vh;
    }
    .header_background {
        height: 30vh;
    }

    header h2 {
        font-size: 6.5vw;
        top: 0;
        top: 50%;
    }

    #header_title span {
        font-size: 4.5vw;
    }
}
.youtube_wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.youtube_video {
    width: 35%;
    padding: 0.5rem 1rem;
}
.youtube_video iframe , .youtube_video video {
    width: 100%;
    display: block;
    aspect-ratio: 16 / 9;
    border: 0;
}
.youtube_video h3 {
    background-color: rgb(168, 168, 168);
    color: #fff;
    padding: 0.05rem 0.5rem;
    overflow-wrap:  break-word;
}
.youtube_video p {
    overflow-wrap:  break-word;
    margin: 0;
}
@media screen and (max-width: 700px) {
    .youtube_video {
        width: 80%;
    }
}


.video_wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.video_content {
    width: 35%;
    padding: 0.5rem 1rem;
    position: relative;
}
.pv_content {
}
.video_content img {
    width: 100%;
    display: block;
    aspect-ratio: 16 / 9;
    border: 0;
}
.youtube_play_button {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #ff0000;
    text-shadow:1px 1px 1px #5a5a5a;
}

@media screen and (max-width: 700px) {
    .video_content {
        width: 80%;
    }
    .youtube_play_button {
        font-size: 3rem;
    }
}